{% extends 'base.html' %}
{% block title %}Content Testing {% endblock %}
{% block content %}
{% load static %}

{% block header %}

{% endblock header %}


<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
        <div class="container-fluid">

            <a class="navbar-brand fw-semibold" href="#">
                RBI Automation
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNavbar" >
                <div class="ms-auto d-flex align-items-center gap-2 ">
                <button class="btn btn-outline-info px-4" onclick ="window.location.href='{% url 'login' %}'">
                    Sign In
                </button>
                <button class="btn btn-info px-4" onclick ="window.location.href='{% url 'registration' %}'">
                    Sign Up
                </button>
            </div>
            </div>
            
        </div>
    </nav>
</header>



<div class="landing-page-wrapper pt-5">



    <!-- Start::app-content -->
    <div class="main-content pb-4 landing-main">


        <!-- Start:: Section-3 -->
        <section class="section bg-light" id="steps">
            <div class="container text-center">
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-xl-6">

                        <h3 class="fw-semibold mb-2">Welcome to RBI Automation system</h3>
                        <span class="text-muted fs-15 fw-normal d-block">Automate your drawing processing, data extraction, and report generation in just a few steps.</span>
                    </div>
                </div>
                <div class="row text-start">
                    <div class="col-12 col-md-4">
                        <div class="card custom-card border">
                            <div class="card-body rounded">
                                <div class="mb-3 ms-1">
                                    <div class="icon-style">
                                        <span class="avatar avatar-lg avatar-rounded bg-info svg-white">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                                <path
                                                    style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none"
                                                    d="m12.5 4.9999251c-2.4670541 0-4.5 2.0329459-4.5 4.5v45c0 2.4670541 2.0329521 4.4999916 4.5 4.5h22a1.5001499 1.5001499 0 1 0 0-3h-22c-0.85695207-2.92e-6 -1.5-0.64305409-1.5-1.5v-45c0-0.85694591 0.64305409-1.5 1.5-1.5h33c0.85694591 0 1.5 0.64305409 1.5 1.5v18a1.5001499 1.5001499 0 1 0 3 0v-18c0-2.4670541-2.0329459-4.5-4.5-4.5z"
                                                    color="#000" />
                                                <rect width="20" height="3" x="19.021" y="20" rx="1.5" ry="1.5" />
                                                <rect width="20" height="3" x="19.021" y="26" rx="1.5" ry="1.5" />
                                                <rect width="12" height="3" x="19.021" y="32" rx="1.5" ry="1.5" />
                                                <path
                                                    style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none"
                                                    d="m54.890477 30.837319c-2.1365316-1.2335271-4.9135872-0.48941726-6.1471143 1.6471143l-6.9990234 12.122664a1.50015 1.50015 0 1 0 2.5980762 1.5l6.9990234-12.122664c0.42847293-0.74213689 1.3069012-0.97751103 2.0490381-0.54903811l0.8660254 0.5c0.7421369 0.42847293 0.97751103 1.3069012 0.54903811 2.0490381l-10.717773 18.563728-2.8746289 0.97900337-0.58947268-2.9790034 1.21875-2.1109369a1.50015 1.50015 0 1 0-2.5980762-1.5l-1.5 2.5980762a1.50015 1.50015 0 0 0-0.17276402 1.0414236l1.0310889 5.2141016a1.50015 1.50015 0 0 0 1.955323 1.1289062l5.0310889-1.7141016a1.50015 1.50015 0 0 0 0.81551724-0.6703298l10.999023-19.050867c1.2335271-2.1365316 0.48941727-4.9135872-1.6471143-6.1471143z"
                                                    color="#000" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <h5 class="fw-semibold">
                                    Upload PDF Drawing
                                </h5>
                                <p class="op-8">
                                    Upload your engineering PDF Drawing to begin the processing.
                                </p>
                                <a class="mx-1 text-info fw-semibold" href="javascript:void(0);" onclick ="window.location.href='{% url 'registration' %}'">Upload Now<i
                                        class="ri-arrow-right-s-line align-middle transform-arrow lh-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card custom-card border">
                            <div class="card-body rounded">
                                <div class="mb-3 ms-1">
                                    <div class="icon-style">
                                        <span class="avatar avatar-lg avatar-rounded bg-info svg-white">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                                <path
                                                    style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none"
                                                    d="M25.5 32c-9.1150542 0-16.5 7.3849458-16.5 16.5v6c0 2.4670542 2.0329458 4.5 4.5 4.5h18a1.50015 1.50015 0 1 0 0-3h-18c-.85694585 0-1.5-.64305415-1.5-1.5v-6c0-7.5049458 5.9950542-13.5 13.5-13.5h13c1.3451063 0 2.6376951.19436413 3.8574219.5546875a1.50015 1.50015 0 1 0 .84960937-2.8769531c-1.4925263-.44091195-3.0733463-.67773438-4.7070312-.67773438zM32 5c-6.60965 0-12 5.39035-12 12s5.39035 12 12 12 12-5.39035 12-12-5.39035-12-12-12zm0 3c4.9883297 0 9 4.0116703 9 9s-4.0116703 9-9 9-9-4.0116703-9-9 4.0116703-9 9-9z"
                                                    color="#000" />
                                                <path
                                                    style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none"
                                                    d="m45 37c-6.60965 0-12 5.39035-12 12s5.39035 12 12 12c2.1925542 0 4.343574-0.60010252 6.21875-1.7363281a1.5002912 1.5002912 0 1 0-1.5546875-2.5664063c-1.4065214 0.85225367-3.0194839 1.3027344-4.6640625 1.3027344-4.9883297 0-9-4.0116703-9-9s4.0116703-9 9-9 9 4.0116703 9 9c0 1.644402-0.45065351 3.2576429-1.3027344 4.6640625a1.5002912 1.5002912 0 1 0 2.5664063 1.5546875c1.1359953-1.8750403 1.7363281-4.0264313 1.7363281-6.21875 0-6.60965-5.39035-12-12-12z"
                                                    color="#000" />
                                                <path
                                                    d="m45 43.999848c-0.831 0-1.5 0.669-1.5 1.5v2h-2c-0.831 0-1.5 0.669-1.5 1.5s0.669 1.5 1.5 1.5h2v2c0 0.831 0.669 1.5 1.5 1.5 0.83100001 0 1.5-0.669 1.5-1.5v-2h2c0.83100001 0 1.5-0.669 1.5-1.5s-0.66899999-1.5-1.5-1.5h-2v-2c0-0.831-0.66899999-1.5-1.5-1.5z" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <h5 class="fw-semibold">
                                    Extract & Analyze
                                </h5>
                                <p class="op-8">
                                    The system reads and detects key information from your drawing using AI.
                                </p>
                                <a class="mx-1 text-info fw-semibold" href="javascript:void(0);" onclick ="window.location.href='{% url 'registration' %}'">Start extraction<i
                                        class="ri-arrow-right-s-line align-middle transform-arrow lh-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card custom-card border">
                            <div class="card-body rounded">
                                <div class="mb-3 ms-1">
                                    <div class="icon-style">
                                        <span class="avatar avatar-lg avatar-rounded bg-info svg-white">
                                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64"
                                                viewBox="0 0 64 64">
                                                <path
                                                    style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none"
                                                    d="m24.5 8c-2.4675144 0-4.5 2.0324856-4.5 4.5v3.5h-10.5c-2.4675142 0-4.5 2.0324854-4.5 4.5v4.0625c0 0.95311676 0.30189465 1.892559 0.875 2.6679688 2.2780134 3.0821421 10.711221 12.769531 26.125 12.769531s23.846986-9.6873908 26.125-12.769531c0.57310844-0.77541208 0.875-1.7148549 0.875-2.6679688v-4.0625c0-2.4675155-2.0324866-4.5-4.5-4.5h-10.5v-3.5c0-2.4675155-2.0324866-4.5-4.5-4.5zm0 3h15c0.84619198 0 1.5 0.65380634 1.5 1.5v5a1.50015 1.50015 0 0 0 1.5 1.5h12c0.84619198 0 1.5 0.65380634 1.5 1.5v4.0625c0 0.32871995-0.0983236 0.6293397-0.28710938 0.88476562-1.9720162 2.6681266-9.555297 11.552734-23.712891 11.552734s-21.740877-8.8846093-23.712891-11.552734c-0.18878705-0.25542828-0.28710938-0.55604878-0.28710938-0.88476562v-4.0625c0-0.84619457 0.65380578-1.5 1.5-1.5h28a1.50015 1.50015 0 1 0 0-3h-14.5v-3.5c0-0.84619481 0.65380519-1.5 1.5-1.5z"
                                                    color="#000" />
                                                <path
                                                    style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none"
                                                    d="m6.4765625 30.978516a1.50015 1.50015 0 0 0-1.4765625 1.5214844v19c0 2.4670537 2.0329452 4.5 4.5 4.5h45c2.4670543 0 4.5-2.0329457 4.5-4.5v-19a1.50015 1.50015 0 1 0-3 0v19c0 0.85694314-0.64305686 1.5-1.5 1.5h-45c-0.85694462 0-1.5-0.64305626-1.5-1.5v-19a1.50015 1.50015 0 0 0-1.5234375-1.5214844z"
                                                    color="#000" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <h5 class="fw-semibold">
                                    Generate Output
                                </h5>
                                <p class="op-8">
                                    Automatically generate Excel and PowerPoint files based on extracted Data.
                                </p>
                                <a class="mx-1 text-info fw-semibold" href="javascript:void(0);" onclick ="window.location.href='{% url 'registration' %}'">Start Now<i
                                        class="ri-arrow-right-s-line align-middle transform-arrow lh-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End:: Section-3 -->

        <!-- Start:: Section-7 -->
        <section class="section bg-banner-1 bg-light py-0" id="candidate">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-4 d-lg-block d-none text-center mt-4">
                        <img src="../assets/images/media/jobs-landing/7.png" width="260" alt="">
                    </div>
                    <div class="col-md-8 my-4">
                        <h2 class="fw-semibold mb-3">Automate Your Workflow Effortlessly</h2>
                        <span class="mb-4 fs-15 fw-normal text-muted d-block">Enhanced accuracy and save time with a fully automated drawing and reporting system.
                        </span>
                        <a href="javascript:void(0);" class="btn btn-info btn-lg"><i class="ti ti-upload" onclick ="window.location.href='{% url 'registration' %}'"></i>
                            Get Started</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End:: Section-7 -->

        <!-- Start:: Footer -->
        <div class="landing-main-footer py-3">
            <div class="container">
                <div class="d-flex flex-wrap gap-2 align-items-center justify-content-between">
                    <div>
                        <span class="text-fixed-white op-7 fs-14"> © Copyright <span id="year"></span> <a
                                href="javascript:void(0);" class="text-primary fs-15 fw-semibold">Ynex</a>.
                        </span>
                    </div>
                    <div>
                        <ul class="list-unstyled fw-normal landing-footer-list mb-0">
                            <li>
                                <a href="javascript:void(0);" class="text-fixed-white op-8">Terms Of Service</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="text-fixed-white op-8">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="text-fixed-white op-8">Legal</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="text-fixed-white op-8">Contact</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="text-fixed-white op-8">Report Abuse</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: Footer -->

    </div>
    <!-- End::app-content -->

</div>

<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
</div>
<div id="responsive-overlay"></div>






{%endblock%}